<!DOCTYPE html>
<html lang="en">
<head>  
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/reset.css">
</head>
<body>
  <header>
    <h1>???</h1>
    <nav>
      <a href="/">Home</a> 
      <a href="/characters">Characters</a>
      <a href="/factions">Factions</a>
      <a href="/quests">Quests</a>
    </nav>
  </header>
  <main>
