<%- include('./partials/header', { title: 'Home' }) %>
<div style="text-align: center">
  <div>Character 2B of faction YoRHa has 4 quests to complete</div>
  <div>Character 9S of faction YoRHa has 4 quests to complete</div>
  <div>Character Yonah of faction Replicant has 4 quests to complete</div>
</div>

<%- include('./partials/footer') %>
