<%- include("../partials/header", {title: "New Faction"}) %>

<h2>New Faction</h2>

<form action="/factions" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />

  <label for="goal">Goal:</label>
  <input type="text" name="goal" id="goal" />

  <label for="hiddenTruth">Hidden Truth:</label>
  <input type="text" name="hiddenTruth" id="hiddenTruth" />

  <button type="submit" class="cool-class">Submit</button>
</form>

<%- include("../partials/footer") %>
